.main {
    width: 500px;
    min-height: 550px;
    margin-right: 10rem;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
}

.main h4 {
    margin-bottom: 2rem;
    font-weight: 200;
    color: rgba(255, 255, 255, 0.911);
}

.main span {
    color: orange;
}

.incoming {
    width: 100%;
}

.incoming h3 {
    color: rgba(255, 255, 255, 0.911);
    font-weight: 300;
}

.incoming p {
    margin-top: 0.5rem;
    background-color: rgba(0, 0, 0, 0.4);
    padding: 1.2rem;
    font-size: 1rem;
    overflow: hidden;
    border-radius: 30px;
    text-overflow: ellipsis;
}

.decrypt {
    width: 100%;
}

.decrypt h3 {
    color: rgba(255, 255, 255, 0.911);
    font-weight: 300;
}

.decrypt p {
    margin-top: 0.5rem;
    background-color: rgba(0, 0, 0, 0.4);
    padding: 1.2rem;
    font-size: 1rem;
    overflow: hidden;
    border-radius: 30px;
    text-overflow: ellipsis;
}